<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pokedex</h1>
    <a href="/pokemon/new"><h2>Add a New Pokemon</h2></a>
    <% for(let i=0; i<pokemons.length; i+=1) { %>
    <a href="/pokemon/<%= i %>"><img src="<%= pokemons[i].img %>"></a>
    <% } %>

    <h2>Add a Pokemon</h2>
</body>
</html>